*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.carouselDiv{
    
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}


